<div class="navbar">
    <div class="contaier">
      <div class="navbar-header">
            <div>
                <img class="logo-img" src="../../assets/logo.jpeg" >
            
                <button class="toggle"><span></span>
                    <span></span>
                    <span></span>
                </button>
                    <a href="" >Alpha Survey</a>
            </div>  
        </div><!-- navbar-header -->
  
        <ul class="nav navcollaps">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Survey</a></li>
          <li><a href="#">Login</a></li>
        </ul>
  
    </div><!-- contaier -->
  </div><!-- navbar -->
    