*{
    margin:0;
    padding:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }
  
  .navbar{
    height:50px;
    background:linear-gradient(#5b5c60, #0f1010);
    background:-webkit-linear-gradient(#5b5c60, #0f1010);
    background:-moz-linear-gradient(#5b5c60, #0f1010);
    font-family:arial;
    width: 100vw;
    position: fixed;
    bottom: 0;
   }
  .contaier{
    display: flex;
    justify-content: space-between;
  }
  .navbar-header{
    padding:0 0;
  }
  
  
  
  
  
  
  