<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="our-team">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center">Meet Our Team</h2>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/christy.jpeg" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Christy Jose</h4>
                <h6 class="text-center">Project Manager/Developer</h6>
               </div>
              <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/arya.jpg" lass="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Arya Vijimon Nair</h4>
                <h6 class="text-center">Quality Assurance Analyst/Technical Artist</h6>
              </div>
              <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/visal.jpg" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Visal Mohan</h4>
                <h6 class="text-center">Lead Software Engineer</h6>
              </div>
              <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/visal-s-02156588/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/mahsa.jpeg" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Mahsa Dorri</h4>
                <h6 class="text-center">Security Programmer</h6>
              </div>
              <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/hardik.jpeg" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Hardik Kamboj</h4>
                <h6 class="text-center">Project Manager</h6>
              </div>
              <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/junaid.jpeg" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Junaid Ahmed</h4>
                <h6 class="text-center">Database Programmer</h6>
              </div>
              <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a
                      href="https://www.linkedin.com/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
