
<section class="h-100 gradient-form register_sec">
    <div class="container py-5 h-100">
      <div class="container_child">
        <div class="d-flex align-items-center justify-content-center" style="margin-bottom: 3%;">
          <img src="assets/images/logo.jpeg" style="width: 20px;" alt="logo">
        </div>

        <form #registerform="ngForm" (ngSubmit)="onRegisterSubmit(registerform.value)">

          <div *ngIf="userAlreadyExist" class="alert alert-danger">
            UserName or EmailAddress already exist
           </div>
          
          <div class="form-outline mb-4" >
            <input required #username="ngModel" type="text"  class="form-control" name="username" id="username" placeholder="Username" ngModel/>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              UserName Required
             </div>
          </div>

          <div class="form-outline mb-4" >
            <input #firstname="ngModel" required type="text"  class="form-control" name="firstname" id="firstname" placeholder="FirstName" ngModel/>
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
             FirstName Required
            </div>
          </div>

          <div class="form-outline mb-4" >
            <input required #lastname="ngModel" type="text"  class="form-control" name="lastname" id="lastname" placeholder="LastName" ngModel/>
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"class="alert alert-danger">
              LastName Required
             </div>
          </div>
          <div class="form-outline mb-4" >
            <input required #password="ngModel" type="password"  class="form-control" name="password" id="password" placeholder="Password" ngModel/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"class="alert alert-danger">
              Password Required
             </div>
          </div>

          <div class="form-outline mb-4">
            <input required #email="ngModel" type="emailaddress"  class="form-control" name="email" id="email" placeholder="Email Address" ngModel/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"class="alert alert-danger">
              Email Required
             </div>
          </div>
          <!--
          <div class="form-outline mb-4" style="margin :10px 10px;">
            <input required #role="ngModel" type="text"  class="form-control" name="role" id="role" placeholder="Role" ngModel/>
          </div>
          -->
          <div class="d-flex align-items-center justify-content-center">
            <button type="Submit" class="btn btn-success text-white" style="margin: auto;">Register</button>
          </div>
        </form> 
      </div>
    </div>
  </section>
 