<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">

        <!-- Header-->
        <header class="home_header">
            <div class="container" >
                <div class="flex_box" style="width: 100%; display: flex; justify-content: center;align-items: center;" >
                    <div class="" style="width: 40%;">
                        <div class="" style="padding: 10%;">
                            <h1 class=" fw-bolder text-white ">Revolutionize Your Feedback Process with AlphaSurvey.

                            </h1>
                            <p class="lead fw-normal text-white-50 ">Get Real-Time Insights and Give Your Users a Voice.

                            </p>
                            <div class="gap-3">
                                <a class="btn btn-primary btn-lg " routerLink="/pubsurveys/list">Get Started <span class="sr-only">(current)</span></a>
                                <a class="btn btn-outline-light btn-lg" routerLink="/aboutus">About Us <span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="" style="width: 40%;"><img class="img-fluid rounded-3 my-5" src="/assets/images/survey-img3.png" alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Explore our services</h2></div>
                    <div class="col-lg-8">
                        <div class="service_box_container">
                            <div class="service_box">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                <h2 class="h5">Human resources</h2>
                                <p class="mb-0">Utilize our questions and quizzes to evaluate the engagement levels of your employees, gauge worker satisfaction, and conduct thorough research on workplace stress feedback for optimal results.</p>
                            </div>
                            <div class="service_box">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                <h2 class="h5">Diversity, Equity and Inclusion</h2>
                                <p class="mb-0">Empower your organization with tools to enhance workforce diversity, promote equity in development and growth opportunities, and foster the creation of inclusive environments.</p>
                            </div>
                            <div class="service_box">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Customer Satisfaction</h2>
                                <p class="mb-0">Discover your customers' expectations and learn what to prioritize by conducting a customer satisfaction survey. Gain valuable insights on how to improve your products or services, and provide the best customer experience possible.</p>
                            </div>
                            <div class="service_box">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Launch a new product</h2>
                                <p class="mb-0">Understand the level of acceptance of your products in the market, uncover the key characteristics that customers value most, and gain valuable insights to position what you sell effectively. Conduct a comprehensive survey to optimize your product offerings and gain a competitive edge in the market.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>


</body>
