<section class="gradient-form login_sec">
  <div class="container">
    <div class="container_child">
      <div class="d-flex align-items-center justify-content-center pb-4">
        <img src="assets/images/logo.jpeg"
          style="width: 20px;" alt="logo">
      </div>
      <!--<form method="post">-->
      <form #loginform="ngForm" (ngSubmit)="onLoginSubmit(username,password)" >  
        <div class="form-outline mb-4" style="margin :40px 10px;">
          <input #username  type="email" id="form2Example11" class="form-control"
            placeholder="Username" />
        </div>

        <div class="form-outline mb-4" style="margin :10px 10px;">
          <input #password  type="password" id="form2Example22" class="form-control" placeholder="Password"/>
        </div>

        <div class="form-outline d-flex align-items-center justify-content-center pb-4">
          <button class="btn btn-primary" type="Submit" style="width:40% ;">Login</button>
        </div>

        <div class="d-flex align-items-center justify-content-center pb-4">
          <p class="mb-0 me-2">Don't have an account?</p>
          <button type="button" class="btn btn-outline-danger" onclick="window.location.href='/register'">Create new</button>
        </div>

      </form>
    </div>
  </div>
</section>