<div class="flex-container" >
  <div class="home-heading">
    <span>Share Your Voice, Shape Your World: Take Our Survey Today!</span>
  </div>
  <div class="survey-list-table">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
        </tr> -->
        <tr >
          <td>user.name</td>
          <td>user.name</td>
          <td>user.name</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button id="create-btn">Create</button>
</div>