<!-- <div class="flex-container" >
  <div class="home-heading">
    <span>Share Your Voice, Shape Your World: Take Our Survey Today!</span>
  </div>
  <div class="survey-list-table">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
        </tr> 
        <tr >
          <td>user.name</td>
          <td>user.name</td>
          <td>user.name</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button id="create-btn">Create</button>
</div> -->

<div style="display: flex;flex-direction: column;justify-content: start;align-items: center; height: 100vh; ">
  <div style=" font-size: 0rem; text-align: center;">
    <h1 style="color: #cfab0e; font-family: cursive;">Surveys Shows</h1>
    <h1 style="color: #0e40cf; font-family: cursive;">That</h1>
    <h1 style="color: #cf0e48; font-family: cursive">Surveys</h1>
    <h1 style="color: #cfab0e; font-family: cursive">Never Lie</h1>
    <h6 style="color: #000000,">...Natalie Angier</h6>
    <br>
    <p class="lead">
    </p>
  </div>
  <div style=" text-align: center;">
    <strong>
      <h2 style="color:#0e40cf ">Ask and you shall succeed</h2>
    </strong>
    <h5>Find out what your customers and audiences across the world want with easy survey templates—and learn what to
      do next.</h5>
    <br>
    <p class="lead" style="text-align: center;">
      <a class="btn btn-warning btn-lg" style="text-align: center;" href="/surveys/survey-list" role="button">Learn more</a>
    </p>
  </div>
</div>