*{
    color: white;
    font-size: 3vh;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;
}
.home-heading{
    /* margin: 3%; */
    text-align: center;
    width: 80%;
}
.survey-list-table{
    margin-top: 6%;
height: 150px;
width: 80%;
}
.survey-list-table table{
    border: 1px solid beige;
}
#create-btn{
    background:linear-gradient(#ddd18a, #a17411);
    border-radius: 6px;
}
#create-btn:hover,#create-btn:focus{
    background:linear-gradient(#9cd6aa, #00361d);
    border-radius: 6px;
}