<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <img src="assets/images/email-sent.png" class="rounded mx-auto d-block" style="width:10%">
            <h2 class="h1-responsive font-weight-bold text-center my-4">Message Sent!</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Your message has been sent successfully, we hope to respond within 24 hours.
        </p>
        </div>
    </div>
    
</div>